name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build-finland:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: Build
        run: |
          sudo apt update 
          sudo apt install wget openjdk-21-jre 
          wget https://download.geofabrik.de/europe/finland-latest.osm.pbf -O finland.pbf
          export datestring="$(printf '%(%y%m%d)T\n' -1)"
          export mapname=FI0000${datestring}3GN1E00940GP
          echo "Creating map ${mapname}.map"
          sh generate_map_ci.sh -i finland.pbf -o ${mapname} 

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: finland
          path: ./*.map
