name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: Build-Austria
        run: |
          sudo apt update 
          sudo apt install wget openjdk-21-jre 
          wget https://download.geofabrik.de/europe/austria-latest.osm.pbf -O austria.pbf
          sh generate_map.sh -i austria.pbf -o AT00001111113BR26204W02L 

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: AT00001111113BR26204W02L.map
          path: AT00001111113BR26204W02L.map
          retention-days: 5